@page "/adminItem"
@inject AdminItem_ViewModel ViewModel

<link href="css/adminItem.css" rel="stylesheet" />
<Header_v2 />
<div class="main">
    <Back openPage="openAdminPage" />
    <p class="title">Список товаров</p>
    <input type="text" placeholder="Поиск по наименованию" @oninput="inputChanged" />
    <div class="table">
        <div class="table-head-row">
            <p class="id">id</p>
            <p class="photo">Фото</p>
            <p class="name">Наименование</p>
            <p class="price">Стоимость</p>
            <p class="descr">Описание</p>
        </div>
        @if (ViewModel.filteredItems.Count == 0)
        {
            <div class="nothing-found">
                <p>&lt;Список пуст&gt;</p>
            </div>
        }
        else
        {
            foreach (var item in ViewModel.filteredItems)
            {
                <div class="@(item.OfferID == selectedRow ? "selected-row" : "table-row")" @onclick="() => selectItem(item.OfferID)">
                    <p class="id">@item.OfferID</p>
                    <div class="img-cnt">
                        <img src="data:image/jpeg;base64,@item.Photo64" />
                    </div>
                    <p class="name">@item.itemName</p>
                    <p class="price">@item.Price ₽</p>
                    <p class="descr">@item.Description</p>
                </div>
            }
        }  
    </div>
    <div class="button-row">
        <img src="images/add.png" @onclick=newItemWindow />
        <img src="images/edit.png" @onclick="editItemWindow"/>
        <img src="images/delete.png" @onclick="Delete" />
        @if (rowNotSelected)
        {
            <p>Выберите товар для редактирования/удаления!</p>
        }
    </div>
</div>
<Footer_v2 />

<Item offer="offer" isAdding="isAdding" newOffer="newItem" editOffer="editItem" isVisible=isItemVisible isVisibleChanged="itemVisibility" />
<DeletePopup name="@selectedName" isVisible="@isSomethingDeleted" isVisibleChanged="deleteVisibility" />

@code {
    private bool isSomethingDeleted = false;
    private string selectedName = "";
    private string searchOption = string.Empty;
    private int selectedRow = 0;
    private bool rowNotSelected = false;

    Offer offer = new Offer();
    private bool isItemVisible = false;
    private bool isAdding; 

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.InitializeAsync();
    }

    private void selectItem(int itemId)
    {
        rowNotSelected = false;
        selectedRow = itemId;
        offer = ViewModel.filteredItems.FirstOrDefault(o => o.OfferID == itemId);
        selectedName = ViewModel.items.FirstOrDefault(i => i.OfferID == itemId).itemName;
    }

    private void inputChanged(ChangeEventArgs e)
    {
        searchOption = e.Value.ToString();
        ViewModel.Search(searchOption);
    }

    private void Delete()
    {
        if (selectedRow == 0)
        {
            rowNotSelected = true;
            return;
        }
        isSomethingDeleted = true;
    }

    private async Task deleteVisibility(bool result)
    {
        isSomethingDeleted = false;
        if (result)
        {
            await ViewModel.deleteItem(selectedRow);
        }
    }

    private void itemVisibility() => isItemVisible = false;

    private void newItemWindow()
    {
        isAdding = true;
        isItemVisible = true;
    }

    private void editItemWindow()
    {
        if (selectedRow == 0)
        {
            rowNotSelected = true;
            return;
        }
        isAdding = false;
        isItemVisible = true;
    }

    private async Task newItem(Offer of)
    {
        selectedRow = 0;
        searchOption = string.Empty;
        await ViewModel.addItem(of);
    }

    private async Task editItem(Offer of)
    {
        selectedRow = 0;
        searchOption = string.Empty;
        await ViewModel.updateItem(of);
    }

    private void openAdminPage() => NavManager.NavigateTo("admin");
}
